@charset "UTF-8";
#section01 .content .frame, #section02 .content .frame, #section03 .content .frame {
  color: #321400;
  font-size: 1.1rem;
  padding: 0.3rem;
  background: url("../images/frame_middle_xs.png") repeat-y center/contain;
  margin-top: -10px;
  margin-bottom: -25px;
  position: relative;
}

#section01 .content .frame h1, #section02 .content .frame h1, #section03 .content .frame h1 {
  font-size: 2rem;
  color: white;
  font-weight: bolder;
  text-shadow: 1px 1px 1px #3c3200, 2px 2px 1px #3c3200;
  position: absolute;
  left: 50%;
  top: -60px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#section01 .content::before, #section02 .content::before, #section03 .content::before {
  content: '';
  display: block;
  height: 90px;
  background: url(../images/frame_top_xs.png) no-repeat center/contain;
}

#section01 .content::after, #section02 .content::after, #section03 .content::after {
  content: '';
  display: block;
  height: 50px;
  background: url(../images/frame_bottom_xs.png) no-repeat center/contain;
}

@media (min-width: 768px) {
  #section01 .content .frame, #section02 .content .frame, #section03 .content .frame {
    background: url(../images/frame_middle_xs.png) repeat-y center;
    padding: 1rem 7rem;
    margin-top: calc(-2px -1vw);
    margin-bottom: calc(-1px -1vw);
  }
  #section01 .content::before, #section02 .content::before, #section03 .content::before {
    background: url(../images/frame_top_xs.png) no-repeat center/contain;
  }
  #section01 .content::after, #section02 .content::after, #section03 .content::after {
    background: url(../images/frame_bottom_xs.png) no-repeat center/contain;
  }
}

@media (min-width: 992px) {
  #section01 .content .frame, #section02 .content .frame, #section03 .content .frame {
    background: url(../images/frame_middle_small.png) repeat-y center/contain;
    padding: 1rem 5rem;
    margin-top: calc(-3px -1vw);
    margin-bottom: calc(-1px -1vw);
  }
  #section01 .content .frame h3, #section02 .content .frame h3, #section03 .content .frame h3 {
    left: calc(50% - 10px);
    top: -58px;
  }
  #section01 .content::before, #section02 .content::before, #section03 .content::before {
    background: url(../images/frame_top.png) no-repeat center/contain;
  }
  #section01 .content::after, #section02 .content::after, #section03 .content::after {
    background: url(../images/frame_bottom.png) no-repeat center/contain;
  }
}

body {
  color: white;
  background: #000;
  font-weight: 400;
  font-family: 'Noto Sans TC', sans-serif;
}

#section01,
#section02,
#section03,
#section04,
#section05,
#section06 {
  position: relative;
  z-index: 1000;
}

/*  navbar 導覽列 ---------------------------------------------------------------*/
#navbar {
  background: #000;
}

#navbar .nav-link {
  font-size: 1.2rem;
  text-align: right;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#navbar .nav-link:hover {
  color: yellow;
  background: rgba(50, 30, 0, 0.75);
}

#navbar .nav-link.active {
  font-weight: bolder;
  color: yellow;
  background: rgba(50, 30, 0, 0.75);
}

#navbar .register_login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#navbar .register_login .gap-line {
  display: none;
}

@media (min-width: 992px) {
  #navbar {
    background: url("../images/navbar.png") no-repeat center top;
    height: 200px;
  }
  #navbar .navbar-brand {
    display: none;
  }
  #navbar #yutang_navbar {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #navbar .navbar-nav {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #navbar .navbar-nav .nav-item {
    position: relative;
  }
  #navbar .navbar-nav .nav-item + .nav-item {
    margin-left: 5px;
  }
  #navbar .navbar-nav .nav-item + .nav-item::before {
    content: '';
    width: 2px;
    height: 20px;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    left: -5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  #navbar .register_login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 1rem !important;
  }
  #navbar .register_login .gap-line {
    display: block;
  }
  #navbar .register_login::before {
    display: none;
  }
}

#home {
  margin-top: 60px;
  position: relative;
}

#home img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#home .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: url("../images/mask.png") no-repeat center/100% 100%;
  pointer-events: none;
}

#home .carousel-control-prev {
  background: url("../images/arrow_left.png") no-repeat center/80px;
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

#home .carousel-control-prev:hover {
  background: url("../images/arrow_left_hover.png") no-repeat center/100px;
}

#home .carousel-control-next {
  background: url("../images/arrow_right.png") no-repeat center/80px;
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

#home .carousel-control-next:hover {
  background: url("../images/arrow_right_hover.png") no-repeat center/100px;
}

@media (min-width: 992px) {
  #home {
    height: 100vh;
    margin-top: 0;
  }
}

/* section01 奇幻世界---------------------------------------------- */
@media (min-width: 992px) {
  #section01 {
    background: url(../images/section01_top_mask.png) no-repeat center top/100%;
  }
}

@media (min-width: 992px) {
  #section02 {
    margin-top: 90px;
  }
}

#section03 .nav-link {
  font-size: 1.2rem;
  padding: 0;
}

#section03 .according-header button {
  color: white;
  font-size: 1.3rem;
}

#section03 h2 {
  font-size: 1.8rem;
}

#section03 .list-group-item {
  padding: 0.5rem 0;
}

#section03 a.active {
  background: #461e00;
  color: white;
  padding: 0.5rem;
}

@media (min-width: 992px) {
  #section03 {
    margin-top: 90px;
  }
}

#section04 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

#section04 h1 {
  font-size: 2rem;
  text-align: center;
}

#section04 .card {
  background: transparent;
  border: none;
}

#section04 .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#section04 .card .card-header {
  background: transparent;
  padding: 0;
  border: 0;
}

#section04 .card .card-body {
  padding: 0 4rem;
  background: url(../images/game_body.png) repeat-y center/100%;
}

#section04 .card .card-body video {
  width: 100%;
}

#section04 .card .card-body h5 {
  padding: 0 0.5rem;
  margin-top: 1rem;
}

#section04 .card .card-body p {
  padding: 0.5rem;
}

#section04 .card .card-footer {
  background: transparent;
  padding: 0;
  border: none;
}

@media (min-width: 992px) {
  #section04 {
    height: 150vh;
    padding: 0;
  }
  #section04 .card.eq-game {
    top: 130px;
  }
  #section04 .card.dd-game {
    top: 30px;
  }
  #section04 .card.wow-game {
    top: 130px;
  }
}

#section05 {
  padding: 10rem 0;
}

#section05 .container {
  padding-left: 3rem;
  padding-right: 3rem;
}

#section05 h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

#section05 .card {
  border: none;
  border-radius: 0;
  padding: 1rem;
}

#section05 .card .card-body {
  padding: 0.5rem 1rem 0;
}

#section05 .card .card-title {
  margin-bottom: 0;
  text-align: center;
  font-size: 1.2rem;
  color: black;
}

@media (min-width: 992px) {
  #section05 {
    padding: 15rem 0;
  }
}

#footer {
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, rgba(0, 0, 0, 0.5)), to(transparent));
  background: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 0.5) 50%, transparent 100%);
}

#footer a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
}

#footer a:hover {
  color: yellow;
}

#footer .info {
  padding: 2rem 1rem;
}

#footer .info h5 {
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #fff;
  display: inline-block;
}

#footer .info ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .info ul li + li {
  margin-left: 1rem;
}

#footer .info .search {
  margin-bottom: 1rem;
}

#footer .info .search form {
  position: relative;
}

#footer .info .search form input {
  height: 40px;
  border-radius: 0;
  padding: 0;
  border: none;
}

#footer .info .search form button {
  font-size: 1.5rem;
  background: transparent;
  border: none;
  height: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#footer .info .social h5 {
  margin-bottom: 0.3rem;
}

#footer .info .social ul a {
  font-size: 2rem;
}

#footer .info .site-map,
#footer .info .related-link,
#footer .info .about-me {
  margin-top: 1rem;
}

#footer .info .site-map ul,
#footer .info .related-link ul,
#footer .info .about-me ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer .info .site-map ul li,
#footer .info .related-link ul li,
#footer .info .about-me ul li {
  margin-left: 0;
  margin-bottom: 0.25rem;
}

#footer .copyright {
  padding-top: 1rem;
  padding-bottom: 5rem;
  letter-spacing: 0.13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 992px) {
  #footer .info .site-map,
  #footer .info .related-link,
  #footer .info .about-me {
    margin-top: 0;
  }
}

/* modal----------------------------------------------- */
.modal .modal-content {
  background-color: transparent;
  border: none;
}

.modal .modal-header {
  color: white;
  height: 120px;
  background: url(../images/login_register_header.png) no-repeat center top/100%;
  padding: 5rem 5rem 2rem;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modal-header .btn-close {
  width: 0.5em;
  height: 0.5em;
  border: 1px solid #000;
  border-radius: 0.3rem;
  background-size: 0.8em;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  position: absolute;
  right: 70px;
  top: 80px;
}

.modal .modal-body {
  padding: 0.5rem;
  background: url(../images/login_register_body_02.png) no-repeat center/contain, url(../images/login_register_body_01.png) repeat-y center/100%;
}

.modal .modal-footer {
  border: none;
  height: 110px;
  padding: 0 5rem;
  background: url(../images/login_register_footer.png) no-repeat center bottom/100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.modal .modal-footer button {
  width: 100%;
  margin: 0;
}

.modal .modal-dialog-centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.backtop {
  width: 100%;
  height: 75px;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  display: none;
  opacity: 0;
}

.backtop__item {
  width: 100%;
  height: 100%;
}

.backtop__item a {
  width: 100%;
  height: 100%;
  display: block;
  background: url(../images/arrow_top.png) no-repeat center/100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.backtop__item a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background: url(../images/arrow_top_hover.png) no-repeat center/100px;
}

body {
  overflow-x: hidden;
}

@media (min-width: 992px) {
  body {
    background: url(../images/mask.png) no-repeat fixed 50% 0%/100%, url(../images/night_sky.jpg) no-repeat fixed 50% 0%/100%;
  }
}

.parallax {
  display: none;
}

@media (min-width: 992px) {
  .parallax {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    display: block;
  }
  .parallax .float-wrap-01 {
    width: 280px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 0;
  }
  .parallax .float-wrap-01 .float-island {
    width: 100%;
    height: 100%;
    background: url(../images/float-island-01.png) no-repeat center/100%;
  }
  .parallax .float-wrap-02 {
    width: 200px;
    height: 350px;
    position: absolute;
    top: 10%;
    right: 0;
  }
  .parallax .float-wrap-02 .float-island {
    width: 100%;
    height: 100%;
    background: url(../images/float-island-02.png) no-repeat center/100%;
  }
  .parallax .float-wrap-03 {
    width: 100%;
    height: 507px;
    position: absolute;
    bottom: 0;
  }
  .parallax .float-wrap-03 .float-island {
    width: 100%;
    height: 100%;
    background: url(../images/float-island-03.png) no-repeat center/100%;
  }
}

#splitText {
  display: none;
}

@media (min-width: 992px) {
  #splitText {
    font-size: 1.7rem;
    width: 1000px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 2;
  }
  #splitText p {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #splitText p .charBg {
    margin: 0.2rem;
    text-shadow: 1px 1px 1px black;
    -webkit-filter: drop-shadow(0 0 5px white) drop-shadow(0 0 10px yellow) drop-shadow(0 0 30px yellow);
            filter: drop-shadow(0 0 5px white) drop-shadow(0 0 10px yellow) drop-shadow(0 0 30px yellow);
  }
}

.shooting_star {
  display: none;
}

@media (min-width: 992px) {
  .shooting_star {
    display: 'block';
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
  }
  .shooting_star .star {
    width: 200px;
    height: 2px;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    background: -webkit-gradient(linear, left top, right top, from(white), color-stop(60%, transparent));
    background: linear-gradient(90deg, white 0%, transparent 60%);
  }
}
