%frame {
  .content {
    .frame {
      color: rgb(50, 20, 0);
      font-size: 1.1rem;
      padding: 0.3rem;
      background: url('../images/frame_middle_xs.png')repeat-y center/contain;
      margin-top: -10px;
      margin-bottom: -25px;
      position: relative;
      h1 {
        font-size: 2rem;
        color: white;
        font-weight: bolder;
        text-shadow: 1px 1px 1px rgb(60, 50, 0), 2px 2px 1px rgb(60, 50, 0);
        position: absolute;
        left: 50%;
        top: -60px;
        transform: translateX(-50%);
      }
    }
    &::before {
      content: '';
      display: block;
      height: 90px;
      background: url(../images/frame_top_xs.png)no-repeat center/contain;
    }
    &::after {
      content: '';
      display: block;
      height: 50px;
      background: url(../images/frame_bottom_xs.png)no-repeat center/contain;
    }
  }
  @include md {
    .content {
      .frame {
        background: url(../images/frame_middle_xs.png)repeat-y center;
        padding: 1rem 7rem;
        margin-top: calc(-2px -1vw);
        margin-bottom: calc(-1px -1vw);
      }
      &::before {
        background: url(../images/frame_top_xs.png)no-repeat center/contain;
      }
      &::after {
        background: url(../images/frame_bottom_xs.png)no-repeat center/contain;
      }
    }
  }
  @include lg {
    .content {
      .frame {
        background: url(../images/frame_middle_small.png)repeat-y center/contain;
        padding: 1rem 5rem;
        margin-top: calc(-3px -1vw);
        margin-bottom: calc(-1px -1vw);
        h3 {
          left: calc(50% - 10px);
          top: -58px;
        }
      }
      &::before {
        background: url(../images/frame_top.png)no-repeat center/contain;
      }
      &::after {
        background: url(../images/frame_bottom.png)no-repeat center/contain;
      }
    }
  }
}